<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portal antecedentes ca colombia</title>
   
    <link rel="stylesheet" href="/dashboard/styles.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="/login/logo_pol.png" alt="Policía Nacional de Colombia">
        </div>
        <nav>
            <ul>
                <li><a href="https://cacolombia.website/police-page.html">INICIO</a></li>
                <li><a href="https://discord.gg/cacolombiarp">CONTACTÉNOS</a></li>
                <li><a href="https://cacolombia.website/notas.html">NOTAS DEL DESARROLLADOR</a></li>

                
            </ul>
        </nav>
    </header>

    <main>
      <div class="maincontainer">
        <div class="headermain">
            <h2>BASE DE DATOS PONAL</h2>
            <div class="search-options-box">
               
                <nav>
                      <div class="InputContainer">
                        <input type="text" name="text" class="input" id="input" placeholder="Buscar placa o documento">
                        
                        <label for="input" class="labelforsearch">
                     
                      </label>
                      <div class="border"></div>
                      
                      <button class="micButton"><svg viewBox="0 0 384 512" class="micIcon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
                      </button>
                      
                      </div>
                </nav>
          
            </div>
            
        </div>
        <div class="main-box">
            <div class="lateral-box">
                <img id="avatar" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Avatar">
                <p><strong>Documento:</strong> <span id="tipodoc"></span></p>
                <p><strong>Nombre:</strong> <span id="nombre"></span></p>
                <p><strong>Apellido:</strong> <span id="apellido"></span></p>
                <p><strong>Nacionalidad:</strong> <span id="nacionalidad"></span></p>
                <p><strong>Estatura:</strong> <span id="estatura"></span> cm</p>
                <p><strong>Sexo:</strong> <span id="sexo"></span></p>
                <p><strong>Fecha de Nacimiento:</strong> <span id="fechanacimiento"></span></p>
                <p><strong>Edad:</strong> <span id="edad"></span></p>
                <p><strong>G.S:</strong> <span id="gs"></span></p>
                <p><strong>Username:</strong> <span id="username"></span></p>
                <p><strong>Numero de documento:</strong> <span id="ndoc"></span></p>
                <p><span id="byc"></span></p>
            </div>
            <div class="right-content-box">
              
                <div class="table-container">
                    <label for="table-licencia">LICENCIA</label>
                    <table id="table-licencia">
                        <tr><th>LICENCIA DE CONDUCIR</th><th>CATEGORIA</th><th>FECHA DE EXPEDICIÓN</th><th>RESTRICCIONES</th></tr>
                    </table>
                    <label for="table-antecedentes">LICENCIA</label>
                    <table id="table-antecedentes">
                        <tr><th>ANTECEDENTES</th><th>TIEMPO</th><th>AGENTE</th><th>RESTRICCIONES</th></tr>
                    </table>
                   
                </div>
              
            </div>
        </div>
      </div>
    </main>

    <footer>
        <div class="footer-info">
            <label id="parragraf">Este sitio web es un proyecto de ficción y parodia inspirado en actividades de roleplay.<br>
                No está afiliado, patrocinado ni respaldado por la Policía Nacional de Colombia ni por alguna entidad pública o privada.<br>
                Todos los nombres, logotipos y referencias son utilizados con fines creativos.<br>
                Página exclusiva de 「CA」 Colombia ER:LC
            </label>
        </div>
        <div class="footer-links"></div>
    </footer>

 
</body>
</html>
